@font-face {
    font-family: abcsan;
    src: url(/fonts/abcsans-regular.otf);
}
@font-face {
    font-family: abcsanbold;
    src: url(/fonts/abcsans-bold.otf);
}
*{
    margin: 0;
    padding: 0;
}
#header{
    display: flex;
}
.buttonsContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 64px;
    background-color: black;
}
.newsLinkImg{
    display: flex;
    height: 64px;
    width: 155px;
}
.newsLinkImg a{
    margin: 0px 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.newsLinkImg img{
    height: 44px;
    width: 123px;
}
.location{
    width: 320px;
    height: 64px;
    background-color: black;
    color: white;
    border: 0;
    border-left: 1px solid gray;
}
.location img{
    width: 20px;
    height: 20px;
}
.search{
    width: 31px;
    height: 64px;
    padding: 0px 16px;
    border: 0;
    border-left: 1px solid gray;
}
.logIn{
    background-color: black;
    color: white;
    width: 74px;
    padding: 0px 16px 0px 16px;
    border: 0;
    border-left: 1px solid gray;
}
.rightListButton{
    width: 64px;
    padding: 16px 0px;
    border: 0;
    border-left: 1px solid gray;
    border-bottom: 0.5px solid rgb(26, 26, 26);
    background-color: #272827;
}
.rightListButton img{
    color: white;
}
#linksTop{
    width: 100%;
    height: 64px;
    background-color: black;
}
.navbar{
    width: 100%;
    height: 64px;
    background-color: #272827;
}
.navbar ul{
    list-style: none;
    align-items: center;
    background-color: #272827;
}
.listLinks{
    display: inline-block;
}
.navbar a{
    height: 64px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: abcsan;
    color: white;
}
.navbar a:hover{
    transition: 1ms;
    background-color: #1F2020;
    color: #00CDFD;
}
#main{
    display: block;
}
#firstBoxContainer{
    margin: 0 98.5px;
    padding-top: 1rem;
}
#boxSpace{
    display: flex;
    height: 64px;
    width: auto;
}
.redBox{
    width: 188.75px;
    height: 64px;
    display: flex;
    background-color: #ee0017;
    align-items: center;
}
.titleContainer p{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-family: abcsan;
    align-items: center;
    padding: .375rem 1rem;
    line-height: 1;
    margin-bottom: 0;
    padding-left: 36px;
    padding-right: 16px;
}
.grayBox{
    max-width: 795.25px;
    background-color: #404040;
}
.grayBoxText{
    display: flex;
}
.grayBoxText p{
    color: white;
    font-family: abcsan;
    text-decoration: underline;
    padding: 8px 16px;
    letter-spacing: 0.5px;
}
#slider{
    display: flex;
    align-items: center;
    max-width: 164.44px;
    padding: 0px 8px;
    background-color: #545454;
}
.sliderButtons{
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    vertical-align: middle;
    background-color: #545454;
    border-style: none;
}
.sliderText{
    width: 20.44px;
    height: 24px;
    margin: 0px 4px;
    color: #CBCBCB;
    font-family: abcsan;
}
#playButton{
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    vertical-align: middle;
}
.mainTitle{
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
}
.mainTitle h1{
    height: 144px;
    margin-bottom: 16px;
    padding-left: 10px;
    font-family: abcsanbold;
    font-size: 35px;
    color: black;
}
.mainTitle span{
    display: block;
    height: 20px;
    padding-left: 10px;
    font-family: abcsan;
    font-size: 12px;
    color: #3F3F3F;
}
.firstImage img{
    width: 831px;
}
#entireBody{
    display: flex;
    flex-wrap: wrap;
    margin: 0 98.5px;
}
#leftBodySide{
    max-width: 831px;
    padding-left: 16px;
}
.images img{
    width: 717.31px;
    height: 478.2px;
}
.imgSubTitle{
    height: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 0px 16px;
    font-family:abcsan;
    font-size: 12px;
    color: #646464;
}
.box2{
    display: block;
    height: 90px;
    padding: 16px 16px;
    font-family: abcsan;
    font-weight: 600;
    border: 1px solid #E6E6E6;
}
.boxLinks{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}
.linkRoundBorder{
    width: 268px;
    height: 24px;
    margin-right: 16px;
    padding: 8px 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: .9rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    background-color: #F2F2F2;
}
.copyLink{
    display: inline-flex;
    align-items: center;
    width: 158.66px;
    height: 48px;
    margin-right: 8px;
    padding: 10px 24px 8px 24px;
    font-family: abcsan;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-radius: 4px;
    background-color: #00CDFD;
}
.shareButton{
    width: 158.66px;
    height: 48px;
    margin-right: 8px;
    padding: 10px 24px 8px 24px;
    font-family: abcsan;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #00CDFD;
    background-color: white;
}
.box2title{
    height: 26px;
    margin-bottom: 16px;
}
.newsBody{
    padding: 48px 16px 32px 16px;
}
.bodyContainer{
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
}
.bodyContent{
    margin: 16px 0px;
    font-family: abcsan;
    font-size: 1rem;
    line-height: 1.5rem;
}
.newsBody .box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 638px;
    height: 20px;
    border: 1px solid #E6E6E6;
    padding: 16px 16px;
    margin-bottom: 24px;
    text-align:left;
}
.newsBody .box3 a{
    width: 574.47px;
    height: 46px;
    font-family: abcsan;
    font-size: 14px;
    text-decoration: underline;
    color: #0067D5;
}
.newsBody img{
    width: 702px;
    height: 468.27px;
}
.newsBody video{
    width: 800px;
}
.boxContainer4{
    width: 638px;
    height: 132px;
    margin-bottom: 24px;
    padding: 16px 16px;
    border: 1px solid #E6E6E6;
}
.box4 h2{
    margin-bottom: 8px;
    font-family: abcsanbold;
    font-weight: 900;
    font-size: 15px;
    color: black;
}
.box4 ul{
    display: block;
    list-style: none;
    position: relative;
}
.box4links{
    display: flex;
    height: 28px;
    margin-bottom: 8px;
    padding-left: 24px;
}
.box4links span{
    position: relative;
    width: 12px;
    height: 12px;
    left: 0;
    background-color: #00CDFD;
}
.box4links a{
    padding-left: 10px;
    font-family: abcsanbold;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-decoration: underline;
    color: #1758CC;
}
#rightBodySide{
    width: 256.828px;
    margin-left: 32px;
    padding-right: 16px;
}
#lowSectionContainer{
    display: flex;
    padding-left: 32px;
}
.rightSideContent{
    width: 256.828px;
}
/*FORM*/
.formContainer h3{
    width: 638px;
    height: 64px;
    margin-bottom: 16px;
    font-family: abcsanbold;
    font-size: 23px;

}
.label{
    display: block;
    margin-bottom: 8px;
    font-family: abcsan;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
}
.boxToComplete{
    display: block;
    justify-content: center;
    width: 100%;
    margin-bottom: 24px;
}
.boxToComplete input{
    border: 1px solid gray;
    height: 24.4px;
    width: 596px;
    padding: 12px 24px 9.6px 16px;
}
.checklist{
    display: flex;
    margin-bottom: 24px;
}
.checklist:last-child{
    height: 49px;
}
.checkBoxes{
    height: 16px;
    width: 16px;
    border-style: solid;
}
.checklist label{
    flex-direction: column;
    height: 25px;
    padding-left: 40px;
    width: 598px;
}
#button{
    display: block;
    width: 588px;
    height: 28px;
    background-color: #01CFFF;
    color: black;
    border-style: none;
    box-shadow: 1px #CBCBCB;
    line-height: 1.75rem;
    font-family: abcsan;
    font-size: .75rem;
    font-weight: 700;
    border-radius: 3px;
    letter-spacing: .125rem;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 transparent,0 .25rem .375rem -.0625rem rgba(0,0,0,.1),0 .125rem .25rem -.0625rem rgba(0,0,0,.05);
}
.datePost{
    height: 24px;
    width: 638px;
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: abcsan;
    font-size: 0.75rem;
}
.lowTexts a{
    color: #4F00EE;
}
/*left side Images*/
.containerSide{
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}
.containerSide h4{
    height: 32px;
    margin-bottom: 16px;
    font-family: abcsanbold;
    font-size: 25px;
    color: black;
}
.containerSide img{
    width: 270px;
    margin-bottom: 8px;
}
.topNew{
    display: block;
}
.sideTitleNews{
    margin-bottom: 16px;
}
.topNew a{
    height: 64px;
    font-family: abcsanbold;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.subTitles{
    margin-bottom: 16px;
}
.subTitles h4{
    height: 24px;
    font-family: abcsanbold;
    font-size: 18px;
    color: black;
}
.subLowContainer{
    height: 27px;
}
.subLowContainer a{
    font-family: abcsanbold;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.subLowContainer a:hover{
    text-decoration: underline;
}
.sideNews{
    display: flex;
    width: 272.828px;
    height: 96px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6E6;

}
.sideNews a{
    display: inline-flex;
    font-family: abcsan;
    text-decoration: none;
    color: black;
}
.sideNews a:hover{
    transition: 1ms;
    color: #0058CC;
}
.minImages{
    width: 81.844px;
    height: 54.719px;
}
.sideNews img{
    width: 81.844px;
    height: 54.719px;
    margin-left: 5px;
}
/*topStories*/
.containerStories .topStoriesTitle{
    height: 32px;
    margin-bottom: 16px;
    font-family: abcsanbold;
    font-size: 22px;
    color: black;
}
.listStories{
    width: 272.828px;
    height: 72px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E6E6;
    list-style: none;
}
.listStories a{
    color: black;
    text-decoration: none;
}
.listStories a:hover{
    transition: 1ms;
    color: #1758CC;
}
.storieContainerText .analysis{
    height: 24px;
    padding: 0px 8px;
    margin: 8px 0px;
    font-family: abcsan;
    font-size: 12px;
    background-color: black;
    color: white;
}
.storieContainerText .h5{
    font-family: abcsan;
    font-size: 15px;
    line-height: 1.5rem;
    font-weight: 600;
}
/*popular now*/
.containerPopular{
    margin-top: 500px;
}
.listContainerPopular{
    display: flex;
    flex-direction: column;
}
.listContainerPopular ol{
    list-style: none;
    position: relative;
}
.listContainerPopular h5{
    height: 32px;
    margin-bottom: 8px;
    font-family: abcsanbold;
    font-size: 25px;
}
.popularList{
    display: inline-flex;
    width: 248.828px;
    height: 120px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-bottom: 1px solid gray;
}
.popularList span{
    font-weight: bolder;
    position: relative;
    right: 27px;
    color: blue;
}
.olContent{
    display: flex;
}
.popularImgs{
    width: 81.844px;
    height: 54.719px;
}
.popularImgs img{
    width: 81.844px;
    height: 54.719px;
}
.h6{
    font-family: abcsanbold;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
}
.olContent a{
    color: black;
    text-decoration: none;
}
.olContent a:hover{
    transition: 1ms;
    color: #0058CC;
}
/*SOCIAL MEDIA FORM ICONS*/
.socialIcons{
    display: flex;
    margin-bottom: 32px;
    align-items: center;
}
.icons{
    display: inline-flex;
    list-style: none;
    align-items: center;
}
.icons a{
    height: 2rem;
    width: 2rem;
    background-color: black;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}
.icons img{
    height: 1rem;
    width: 1rem;
    vertical-align: -webkit-baseline-middle;
}
/*tags*/
.tagsContainer{
    display: block;
}
.containerTagsList{
    display: flex;
    margin-top: 5px;
}
.tagsContainer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 638px;
    height: 60px;
    list-style: none;
}
.tags a{
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8px;
    padding: 0px 8px;
    border: 1px solid #e6e6e6;
    text-decoration: none;
    color: #4F58CF;
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
}

/*LEFT SIDE*/
#aside{
    margin-right: -14px;
}
/* LOW IMAGES LEFT*/
.lowLeftSide{
    height: 831.848px;
    width: 831.172px;
}
 /*LOW IMAGES RIGHT*/
 .lowRightSide{
    width: 256.828px;
    padding-right: 16px;
    margin-left: 32px;
}
/*grid images*/
.lowTitleTop{
    display: flex;
    position: relative;
}
.lowTitleTop span{
    width: 6px;
    height: 40px;
    left: 0;
    background-color: #00CDFD;
}
.lowTitleTop h2{
    height: 40px;
    margin-bottom: 16px;
    padding-left: 5px;
    font-family: abcsanbold;
    font-size: 40px;
}
.gridContainer{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.boxes{
    width: 255.719px;
    height: 247.828px;
}
.boxes img{
    width: 255.719px;
    height: 143.875px;
    object-fit: cover;
}
/*LOW RIGHT LIST ITEMS*/
.lowRightSide{
    display: block;
    position: relative;
}
.justInText{
    display: flex;
    position: relative;
}
.justInText span{
    width: 6px;
    height: 40px;
    left: 0;
    background-color: #00CDFD;
}
.justInText h4{
    height: 40px;
    font-family: abcsanbold;
    font-size: 30px;
    padding-left: 5px;
}
.rightItemList{
    height: 72px;
    padding: 16px 0px;
    border-bottom: 1px solid gray;
    list-style: none;
}
.linkContainers{
    display: block;
    height: 48px;
    text-align:left;
}
.linkContainers h4{
    height: 48px;
    margin-bottom: 8px;
    font-family: abcsanbold;
    font-size: 15px;
    text-align: left;
}
.linkContainers h4 a{
    color: black;
    text-decoration: none;
}
.linkContainers h4 a:hover{
    transition: 1ms;
    color: #0058CC;
}
.timePosted{
    height: 24px;
    margin-top: 10px;
    color: #878797;
}
.moreJustIn{
    height: 27px;
    margin-top: 16px;
    text-align: end;
}
.moreJustIn a{
    font-family: abcsan;
    font-size: 16px;
    text-decoration: none;
    color:#0058CC;
}
.backTop{
    width: 100%;
    height: 27px;
    margin-top: 16px;
    text-align: end;
}
.backTop a{
    height: 27px;
    font-family: abcsanbold;
    font-size: 14px;
    text-decoration: none;
    color:#7C6464;
}
/*FOOTER*/
#footer{
    background-color: #2B3237;
}
.footerNewsImg{
    width: 167px;
    height: 33px;
}
.footerNewsImg img{
    width: 167px;
    height: 33px;
}
.headerNewsContainer a{
    font-size: .75rem;
    letter-spacing: .09375rem;
    align-items: center;
    font-family: abcsan;
    text-decoration: none;
    color: white;
}
.headerNewsContainer a:hover{
    transition: 1ms;
    color: #00CDFD;
    text-decoration: underline;
}
.containerFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.columLinks{
    width: 221.281px;
    padding: 24px 24px;
}
.columLinks h5{
    color: #A6B3B3;
}
.columLinks p{
    margin: 0.875rem 0;
    font-family: abcsan;
    line-height: 1.5rem;
    color: #A6B3B3;
}
.doubleColumLinks{
    display: flex;
    flex-flow: row wrap;
}
.footerLinks{
    flex-flow: column;
    width: 94.453px;
    height: 26px;
    margin-bottom: 8px;
    padding-right: 16px;
    text-decoration: none;
    list-style: none;
}
.footerLinks a{
    font-size: .75rem;
    letter-spacing: .09375rem;
    align-items: center;
    font-family: abcsan;
    text-decoration: none;
    color: white;
}
.footerLinks a:hover{
    transition: 1ms;
    color: #00CDFD;
    text-decoration: underline;
}
.endFooter{
    display: flex;
    flex-direction: row;
    height: 86px;
    padding: 0px 24px;
    align-items: center;
    background-color: #383F43;
}
.companyPolicy ul{
    display: flex;
    flex-wrap: wrap;
    width: 1060.980px;
}
.policyLinks{
    padding-right: 16px;
    justify-content: space-between;
    list-style: none;
}
.policyLinks a{
    font-family: abcsan;
    font-weight: 100;
    font-size: .75rem;
    line-height: 1.5rem;
    letter-spacing: .03125rem;
    text-decoration: none;
    color: white;
}
.policyLinks a:hover{
    transition: 1ms;
    color: #00CDFD;
    text-decoration: underline;
}
.socialsIcons ul{
    display: flex;
    list-style: none;
}
.iconsFooter{
    width: 48px;
    height: 48px;
    padding-right: 9px;
}
.iconsFooter a{
    background-color: #40464B;
}
.iconsFooter img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 2px inset gray;
}
/*firstWeek*/
.infobae{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}
.infobae img{
    width: 600px;
    height: 350px;
    padding-right: 300px;
}
